/*rg_employee_1 => RG_Employee (v1)*/
div.rg-details.rg_employee_1 { width: 801px; }
div.rg-details.rg_employee_1 div.ui-dialog-content div.rg-tabs { height: 491px; }
/*rg-col-10092 => TitleOfCourtesy:*/
.rg_employee_1 div.rg-property[name="rg-col-10092"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10092"] .rg-cru { width: 200px; }
/*rg-col-10081 => FirstName:*/
.rg_employee_1 div.rg-property[name="rg-col-10081"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10081"] .rg-cru { width: 200px; }
/*rg-col-10084 => LastName:*/
.rg_employee_1 div.rg-property[name="rg-col-10084"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10084"] .rg-cru { width: 200px; }
/*rg-col-10091 => Title:*/
.rg_employee_1 div.rg-property[name="rg-col-10091"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10091"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10091"] .rg-cru { width: 200px; }
/*rg-col-10089 => Region:*/
.rg_employee_1 div.rg-property[name="rg-col-10089"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10089"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10089"] .rg-cru { width: 200px; }
/*rg-col-10077 => BirthDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10077"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10077"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10077"] .rg-cru { width: 200px; }
/*rg-col-10079 => Country:*/
.rg_employee_1 div.rg-property[name="rg-col-10079"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10079"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10079"] .rg-cru { width: 200px; }
/*rg-col-10083 => HomePhone:*/
.rg_employee_1 div.rg-property[name="rg-col-10083"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10083"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10083"] .rg-cru { width: 200px; }
/*rg-col-10078 => City:*/
.rg_employee_1 div.rg-property[name="rg-col-10078"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10078"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10078"] .rg-cru { width: 200px; }
/*rg-col-10082 => HireDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10082"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10082"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10082"] .rg-cru { width: 200px; }
/*rg-col-10076 => Address:*/
.rg_employee_1 div.rg-property[name="rg-col-10076"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10076"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10076"] .rg-cru { width: 200px; }
/*rg-col-10080 => Extension:*/
.rg_employee_1 div.rg-property[name="rg-col-10080"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10080"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10080"] .rg-cru { width: 200px; }
/*rg-col-10088 => PostalCode:*/
.rg_employee_1 div.rg-property[name="rg-col-10088"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10088"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10088"] .rg-cru { width: 200px; }
/*rg-col-10075 => EmployeeID:*/
.rg_employee_1 div.rg-property[name="rg-col-10075"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10075"] .rg-cru { width: 200px; }
/*rg-col-10097 => Employees2_EmployeeID:*/
.rg_employee_1 div.rg-entity[name="rg-col-10097"] { float: left; }
.rg_employee_1 div.rg-entity[name="rg-col-10097"] > div.rg-property[name="rg-col-10097"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-entity[name="rg-col-10097"] > div.rg-property[name="rg-col-10097"] .rg-cru { width: 200px; }
/*rg-col-10087 => PhotoPath:*/
.rg_employee_1 div.rg-property[name="rg-col-10087"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10087"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10087"] .rg-cru { width: 200px; }
/*rg-col-10086 => Photo*/
.rg_employee_1 div.rg-property[name="rg-col-10086"] { position: absolute; top: 13px; left: 403px; }
.rg_employee_1 div.rg-property[name="rg-col-10086"] .rg-cru { height: 79px; }
/*rg-col-10095 => Employees (v1)*/
/*rg-col-10094 => EmployeeTerritories (v1)*/
/*rg-col-10098 => RG_Orders (v1)*/
/*rg-col-10085 => Notes:*/
.rg_employee_1 div.rg-property[name="rg-col-10085"] .rg-cru { height: 329px; width: 600px; }
