/*order_details_1 => Order_Details (v1)*/
div.rg-details.order_details_1 { width: 508px; }
div.rg-details.order_details_1 div.ui-dialog-content div.rg-tabs { height: 239px; }
/*rg-col-10168 => OrderID:*/
.order_details_1 div.rg-entity[name="rg-col-10168"] > div.rg-property[name="rg-col-10168"] .rg-label { text-align: center; min-width: 80px; }
/*rg-col-10170 => ProductID:*/
.order_details_1 div.rg-entity[name="rg-col-10170"] > div.rg-property[name="rg-col-10170"] .rg-label { text-align: center; min-width: 80px; }
/*rg-col-10165 => UnitPrice:*/
.order_details_1 div.rg-property[name="rg-col-10165"] .rg-label { text-align: center; min-width: 80px; }
/*rg-col-10164 => Quantity:*/
.order_details_1 div.rg-property[name="rg-col-10164"] .rg-label { text-align: center; min-width: 80px; }
/*rg-col-10163 => Discount:*/
.order_details_1 div.rg-property[name="rg-col-10163"] .rg-label { text-align: center; min-width: 80px; }
