/*rg_orders_1 => RG_Orders (v1)*/
div.rg-details.rg_orders_1 { width: 686px; }
div.rg-details.rg_orders_1 div.ui-dialog-content div.rg-tabs { height: 554px; }
/*rg-col-10098 => OrderID:*/
.rg_orders_1 div.rg-property[name="rg-col-10098"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10173 => CompanyName:*/
.rg_orders_1 div.rg-entity[name="rg-col-10173"] > div.rg-property[name="rg-col-10173"] .rg-label { text-align: center; min-width: 130px; }
.rg_orders_1 div.rg-entity[name="rg-col-10173"] > div.rg-property[name="rg-col-10173"] .rg-cru { width: 300px; }
/*rg-col-10114 => CustomerID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10114"] > div.rg-property[name="rg-col-10114"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10116 => EmployeeID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10116"] > div.rg-property[name="rg-col-10116"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10119 => ShipperID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10119"] > div.rg-property[name="rg-col-10119"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10101 => Freight:*/
.rg_orders_1 div.rg-property[name="rg-col-10101"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10102 => OrderDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10102"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10103 => RequiredDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10103"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10104 => ShipAddress:*/
.rg_orders_1 div.rg-property[name="rg-col-10104"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10105 => ShipCity:*/
.rg_orders_1 div.rg-property[name="rg-col-10105"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10106 => ShipCountry:*/
.rg_orders_1 div.rg-property[name="rg-col-10106"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10107 => ShipName:*/
.rg_orders_1 div.rg-property[name="rg-col-10107"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10111 => ShippedDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10111"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10108 => ShipPostalCode:*/
.rg_orders_1 div.rg-property[name="rg-col-10108"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10109 => ShipRegion:*/
.rg_orders_1 div.rg-property[name="rg-col-10109"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10174 => RecroDictDemo:*/
.rg_orders_1 div.rg-property[name="rg-col-10174"] .rg-label { text-align: center; min-width: 130px; }
/*rg-col-10117 => Order_Details (v1)*/
