

/*rg_product_2 => RG_Product (v2)*/
div.rg-details.rg_product_2 { width: 713px; }
div.rg-details.rg_product_2 div.ui-dialog-content div.rg-tabs { height: 355px; }
/*rg-col-10202 => Category:*/
.rg_product_2 div.rg-entity[name="rg-col-10202"] > div.rg-property[name="rg-col-10202"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10206 => Discontinued*/
.rg_product_2 div.rg-property[name="rg-col-10206"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10200 => ProductID:*/
.rg_product_2 div.rg-property[name="rg-col-10200"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10210 => ProductName:*/
.rg_product_2 div.rg-property[name="rg-col-10210"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10211 => QuantityPerUnit:*/
.rg_product_2 div.rg-property[name="rg-col-10211"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10212 => ReorderLevel:*/
.rg_product_2 div.rg-property[name="rg-col-10212"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10216 => SupplierID:*/
.rg_product_2 div.rg-entity[name="rg-col-10216"] > div.rg-property[name="rg-col-10216"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10027 => UnitPrice:*/
.rg_product_2 div.rg-property[name="rg-col-10027"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10028 => UnitsInStock:*/
.rg_product_2 div.rg-property[name="rg-col-10028"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10029 => UnitsOnOrder:*/
.rg_product_2 div.rg-property[name="rg-col-10029"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10019 => Order_Details (v1)*/
