/*################################################################################################################################*/
BEGIN
DELETE FROM orderdetails;
DELETE FROM orders;
DELETE FROM products;
DELETE FROM suppliers;
DELETE FROM shippers;
DELETE FROM employeeterritories;
DELETE FROM territories;
DELETE FROM region;
DELETE FROM employees;
DELETE FROM customers;
DELETE FROM categories;
END;;
/
/*################################################################################################################################*/
BEGIN
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_CATEGORIES disable';
INSERT INTO categories VALUES(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales', hextoraw('424D98290000000000005600000028000000AC00000078000000010004000000000000000000880B0000880B00000800000008000000FFFFFF0000FFFF00FF00FF000000FF00FFFF000000FF0000FF00000000000000000010000000001000000001001000000000000001010100010000100100000001010001000000100100000100000010101000100000100010000000000000000000001000000001000000000000001000000000000000000000001001001000000000000000000001001001000012507070100000001000000001000100100000010000001000000000100100100000001001010101010000000000000000000001001000100000101010101000000000000000000000000000000000000101020525363777777777777753530100101000100000000001010001001000100100100000000000100000000000000000100010001001010001000000010010000000000000100000000000000000000000000000001014343577777777777777777777777777770100120001010100102000000000000000000000000100100010010000000000100010000000000000000010010000001001001010100000000000000000000000000000001021617777777775757535353525777777777777770150120000100010101000000000000000001000000000000001001001000000000010010000010010010000101001001000000100000001000000000000000000000001417777737617376377775767771707752777777776340161210300000000010000000000010000000000000000000000000000000000000000100000000000100000000000010000100000000000000000000000000100503677577571705014000000101070717775777777775334101400010101010001010010101000000000000000000000000000001000000000000000000000000000000001010001000001000000000000000000000000010357353000000000000000000000000000171777777777470612101000000001000001000000010000000000000000000000000000000100010703010101210000000000000000000000000000000000000000000000101034350000000010653435777570477474700000107757777171000000101001000101000101010000100000000000000000001041477110131035750020040477301000100000000000000000000000000000000000000000010004014176577707000067777777776560404007371734361701400001241000001000000001000020400000200000101747767777000101073777577777775372100000000100000000000000100100000000010000010000037676476700004000577470416717477421405000434140343000565120510100301014002107171370701437777777775777777112103177777777777705757771010000000100000000000000010000100000101000470440440671007477776777777614060600742524001777777747646776752060250003021716737777777777777774747727574777001016777777777767173317703000101010000000010000000001000000000000420460200077427477767777777775677777746474656606767777665746776757151253507166737777733746777577777777572776771100517777777767776015713141030020001000000001001000000000010100067440044047761477767776706767777674765673470657505767375664746757777271252167717733771737776777677567476577577121103775777777776717027753121010101000010000000000100001010000010767060004776747776776777756776777777777042477676067777467474747676777565256531311771177376477777576757777747710110701777777767777401717340000000000100001000000000001000000101004776540666050777677657777677470774777776747664607777376747476777777677717173735377717737747777777777774774770011271077777767777763171735210121010100000000000000000000010000000300406767757676775077006767477774774777774747770476777656706746777657777777777777777777737667777476574774777771001031777777776767741371771000000000010000000000000000000000101005707442567656176006767004770476707700767770000477747734656446745677676777777777777777777375667777777777777777773100010777777777777771753521010101010000000000100010000000010007777712152503004670077774767427047247776577564700076737747670474277777777777777777367777777765777777777777434777750757775377767676770172773100000000001000000000000001000101007170701614204046007746040676167470774167743656777740077776067407465677677777777777757717777737476775716161243410303077777777577775210000011350001001001000000101000100000100002100171525675070074340670005004076700706570757777767770077744746466567777677777777777777777773776777610000000137775350317777773777737750701000101021001000100000000000010100010010300067777761650604065047604760746404776406705656776770077764750474747677777777777777777773733747777773011735777777'), 0);
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_CATEGORIES enable';
END;;
/
/*################################################################################################################################*/
BEGIN
--SET SCAN OFF;
INSERT INTO customers VALUES('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', NULL, '12209', 'Germany', '030-0074321', '030-0076545', 0);
INSERT INTO customers VALUES('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745', 0);
INSERT INTO customers VALUES('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL, 0);
INSERT INTO customers VALUES('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', NULL, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750', 0);
END;;
/
/*################################################################################################################################*/
BEGIN
--upgrade esetén nem ez a név, de a megfelelő sorrend esetén nem is kell. EXECUTE IMMEDIATE 'ALTER TABLE employees DISABLE CONSTRAINT FK_EMPLOYEES_REPORTSTO';
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_EMPLOYEES disable';

INSERT INTO employees VALUES(2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', TO_DATE('1952-02-19','YYYY-MM-DD'), TO_DATE('1992-08-14','YYYY-MM-DD'), '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', '3457', hextoraw('424D20540000000000007600000028000000C0000000DF0000000100040000000000A0530000CE0E0000D80E0000000000000000000000000000000080000080000000808000800000008000800080800000C0C0C000808080000000FF0000FF000000FFFF00FF000000FF00FF00FFFF0000FFFFFF00F00000000000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFE000000C00BFE000000A9000FFFFFFFFFFCFFFFFFFC009FFC00000000000000000000000000000000000F0000000000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFDB09F00000000FCBFFE9E0BFFFFFFFFFF0FFFFFFC09FFFE0000000000000000000900000000000000000F000000000000000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFE000009009F09FFC0BFFFFFFFFFF0FFFFFFFFEFFFC00000000000000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0F0B00000FF0000000BFFFFFFFFFFFDFFFFFF0F9FE0000000000000000000000000000000900000000F00000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFE09FFFC0A9F0000FC00BFFFFFFFFFFFEBFFFFCFFEFC00000000000000000000900000090000000000000F0000000000000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF009CBE09C00000000BFFFFFFFFFFFFFDFFFCBFC90000000000000000000000000000000000000000000F0000000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFC0009FF0BFA9F0A9BFFFFFFFFFFFFFEFFFFFFC000000000000000009000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF009FCBC0DFFFFDFFFFFFFFFFFFFFFF9F0FC000000000000000000C0000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF00AF0000000000BFFFFFFFFFFFFFFFEFE0000000000000000000D000000000000000000000000000000F00000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFE9FC00BF0090BFFFFFFFFFFFFFFFFDFC00000000000000000C00000000000000000000000000000000F0000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFD09EBFC9ADAFFFFFFFFFFFFFFFFFFFE000000000000000000000000000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF00000000009FFFFFFFFFFFFFFFFFFFC00000000000000009C0000000000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BFDBFFFFFFFFFFFFFFFFFFFFFFF00000000000000090000000000000000000000000000000000000F00000000000000000000000000000000000000000000000000000000000000000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF00000000000000000000000000000000000000000000000000000F0000000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF9F9FDB9FFFFFFFFFFFFFFFFFFFFFFFE00000000000000000000000000000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFDFDBFFFBFFF99FFFFFFFFFFFFFFFFFFFFFC00000009000000000000000000000000000000000000000000000F000000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFDBBFFF9FDFBDFFF9BFFFFFFFFFFFFFFFFFFF000000000000000000000000000000000000000000000000000000F00000000000000000000000000000000000000000000000000000000000000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF9FBFFDFBDFFBFFFBFFFF9FFFFFFFFFFFFFFFFFF0000000000000000000000000090A0009CB0DA9A9AF9E9BE900A00F0000000000000000000000000000000000000000000000000000000000000000BFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF9FFFFFFBFFBFBFDFBFFFFF9BFFFFFFFFFFFFFFFFE00000000000000009CA90A90F00C90BDA9ADA9FF9F9E9BD9B0C9C0F0000000000000000000000000000000000000000000000000000000000000009FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF9FFFFBDFFF9FD0F9F9DFB'), NULL, NULL, 'http://accweb/emmployees/fuller.bmp', 0);

update employees set Notes='Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.' where EmployeeID=1;
update employees set Notes='Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.' where EmployeeID=2;
update employees set Notes='Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.' where EmployeeID=3;
update employees set Notes='Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.' where EmployeeID=4;
update employees set Notes='Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses "Successful Telemarketing" and "International Sales Management."  He is fluent in French.' where EmployeeID=5;
update employees set Notes='Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.' where EmployeeID=6;
update employees set Notes='Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the London office in March 1993.' where EmployeeID=7;
update employees set Notes='Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.' where EmployeeID=8;
update employees set Notes='Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.' where EmployeeID=9;

--EXECUTE IMMEDIATE 'ALTER TABLE employees ENABLE CONSTRAINT FK_EMPLOYEES_REPORTSTO';
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_EMPLOYEES enable';
END;;
/
/*################################################################################################################################*/
BEGIN
INSERT INTO region VALUES(1, 'Eastern                                           ', 0);
INSERT INTO region VALUES(2, 'Western                                           ', 0);
INSERT INTO region VALUES(3, 'Northern                                          ', 0);
INSERT INTO region VALUES(4, 'Southern                                          ', 0);
END;;
/
BEGIN
INSERT INTO territories VALUES('01581', 'Westboro                                          ', 1, 0);
INSERT INTO territories VALUES('01730', 'Bedford                                           ', 1, 0);
INSERT INTO territories VALUES('01833', 'Georgetow                                         ', 1, 0);
INSERT INTO territories VALUES('02116', 'Boston                                            ', 1, 0);
END;
/
BEGIN
INSERT INTO employeeterritories VALUES(1, '06897', 0);
INSERT INTO employeeterritories VALUES(1, '19713', 0);
INSERT INTO employeeterritories VALUES(2, '01581', 0);
INSERT INTO employeeterritories VALUES(2, '01730', 0);
END;
/
/*################################################################################################################################*/
BEGIN
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_SHIPPERS disable';
INSERT INTO shippers VALUES(1, 'Speedy Express', '(503) 555-9831', 0);
INSERT INTO shippers VALUES(2, 'United Package', '(503) 555-3199', 0);
INSERT INTO shippers VALUES(3, 'Federal Shipping', '(503) 555-9931', 0);
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_SHIPPERS enable';
END;;
/
/*################################################################################################################################*/
BEGIN
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_SUPPLIERS disable';
INSERT INTO suppliers VALUES(1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', NULL, 'EC1 4SD', 'UK', '(171) 555-2222', NULL, NULL, 0);
INSERT INTO suppliers VALUES(2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', NULL, '#CAJUN.HTM#', 0);
INSERT INTO suppliers VALUES(3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', NULL, 0);
INSERT INTO suppliers VALUES(4, 'Tokyo Traders', 'Yoshi Nagase', 'Marketing Manager', '9-8 Sekimai Musashino-shi', 'Tokyo', NULL, '100', 'Japan', '(03) 3555-5011', NULL, NULL, 0);
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_SUPPLIERS enable';
END;;
/
/*################################################################################################################################*/
BEGIN
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_PRODUCTS disable';
INSERT INTO products VALUES(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.00, 39, 0, 10, 0, 0);
INSERT INTO products VALUES(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.00, 17, 40, 25, 0, 0);
INSERT INTO products VALUES(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.00, 13, 70, 25, 0, 0);
INSERT INTO products VALUES(4, 'Chef Anton''s Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.00, 53, 0, 0, 0, 0);
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_PRODUCTS enable';
END;;
/
/*################################################################################################################################*/
BEGIN
--SET SCAN OFF;
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_ORDERS disable';
INSERT INTO orders VALUES(10248, 'VINET', 5, TO_DATE('1996-07-04','YYYY-MM-DD'), TO_DATE('1996-08-01','YYYY-MM-DD'), TO_DATE('1996-07-16','YYYY-MM-DD'), 3, 32.38, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', NULL, '51100', 'France', 0);
INSERT INTO orders VALUES(10249, 'TOMSP', 6, TO_DATE('1996-07-05','YYYY-MM-DD'), TO_DATE('1996-08-16','YYYY-MM-DD'), TO_DATE('1996-07-10','YYYY-MM-DD'), 1, 11.61, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', NULL, '44087', 'Germany', 0);
INSERT INTO orders VALUES(10250, 'HANAR', 4, TO_DATE('1996-07-08','YYYY-MM-DD'), TO_DATE('1996-08-05','YYYY-MM-DD'), TO_DATE('1996-07-12','YYYY-MM-DD'), 2, 65.83, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil', 0);
INSERT INTO orders VALUES(10251, 'VICTE', 3, TO_DATE('1996-07-08','YYYY-MM-DD'), TO_DATE('1996-08-05','YYYY-MM-DD'), TO_DATE('1996-07-15','YYYY-MM-DD'), 1, 41.34, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', NULL, '69004', 'France', 0);
--EXECUTE IMMEDIATE 'ALTER TRIGGER TR_ORDERS enable';
END;;
/
/*################################################################################################################################*/
BEGIN
INSERT INTO orderdetails VALUES(10248, 11, 14.00, 12, 0, 0);
INSERT INTO orderdetails VALUES(10248, 42, 9.80, 10, 0, 0);
INSERT INTO orderdetails VALUES(10248, 72, 34.80, 5, 0, 0);
INSERT INTO orderdetails VALUES(10249, 14, 18.60, 9, 0, 0);
END;;
/

--set serverout on;
--set serveroutput on format wrapped;
declare
	maxval int;
	seqval int;
begin
	for i in(
		select table_name, column_name, sequence_name, generation_type
		from user_tab_identity_cols
		order by 1 
	)
	loop
		execute immediate 'select nvl(max('||i.column_name||'),0) from '||i.table_name into maxval;
		execute immediate 'select '||i.sequence_name||'.nextval from dual' into seqval;
		--dbms_output.put_line(i.table_name||'.'||i.column_name||' -> '||i.sequence_name||'='||seqval||', max='||maxval);

		if maxval > seqval then
            execute immediate 'alter table '||i.table_name||' modify ('||i.column_name||' generated as identity START WITH LIMIT VALUE)';
			--dbms_output.put_line(i.sequence_name||' set '||maxval);
		end if;
	end loop;
end;;
/
