/*rg_employee_1 => RG_Employee (v1)*/
div.rg-details.rg_employee_1 { width: 769px; }
div.rg-details.rg_employee_1 div.ui-dialog-content div.rg-tabs { height: 501px; }
/*rg-col-10068 => TitleOfCourtesy:*/
.rg_employee_1 div.rg-property[name="rg-col-10068"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10068"] .rg-cru { width: 200px; }
/*rg-col-10057 => FirstName:*/
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-cru { width: 200px; }
/*rg-col-10060 => LastName:*/
.rg_employee_1 div.rg-property[name="rg-col-10060"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10060"] .rg-cru { width: 200px; }
/*rg-col-10067 => Title:*/
.rg_employee_1 div.rg-property[name="rg-col-10067"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10067"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10067"] .rg-cru { width: 200px; }
/*rg-col-10065 => Region:*/
.rg_employee_1 div.rg-property[name="rg-col-10065"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10065"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10065"] .rg-cru { width: 200px; }
/*rg-col-10059 => HomePhone:*/
.rg_employee_1 div.rg-property[name="rg-col-10059"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10059"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10059"] .rg-cru { width: 200px; }
/*rg-col-10055 => Country:*/
.rg_employee_1 div.rg-property[name="rg-col-10055"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-cru { width: 200px; }
/*rg-col-10058 => HireDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10058"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-cru { width: 200px; }
/*rg-col-10054 => City:*/
.rg_employee_1 div.rg-property[name="rg-col-10054"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-cru { width: 200px; }
/*rg-col-10053 => BirthDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10053"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-cru { width: 200px; }
/*rg-col-10052 => Address:*/
.rg_employee_1 div.rg-property[name="rg-col-10052"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-cru { width: 200px; }
/*rg-col-10051 => EmployeeID:*/
.rg_employee_1 div.rg-property[name="rg-col-10051"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-cru { width: 200px; }
/*rg-col-10064 => PostalCode:*/
.rg_employee_1 div.rg-property[name="rg-col-10064"] { float: left; clear: none; }
.rg_employee_1 div.rg-property[name="rg-col-10064"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10064"] .rg-cru { width: 200px; }
/*rg-col-10056 => Extension:*/
.rg_employee_1 div.rg-property[name="rg-col-10056"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-cru { width: 200px; }
/*rg-col-10073 => Employees2_EmployeeID:*/
.rg_employee_1 div.rg-entity[name="rg-col-10073"] { float: left; }
.rg_employee_1 div.rg-entity[name="rg-col-10073"] > div.rg-property[name="rg-col-10073"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-entity[name="rg-col-10073"] > div.rg-property[name="rg-col-10073"] .rg-cru { width: 200px; }
/*rg-col-10062 => Photo*/
.rg_employee_1 div.rg-property[name="rg-col-10062"] { position: absolute; top: 13px; left: 403px; }
.rg_employee_1 div.rg-property[name="rg-col-10062"] .rg-cru { height: 79px; }
/*rg-col-10063 => PhotoPath:*/
.rg_employee_1 div.rg-property[name="rg-col-10063"] { float: left; }
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-cru { width: 200px; }
/*rg-col-10071 => Employees (v1)*/
/*rg-col-10070 => EmployeeTerritories (v1)*/
/*rg-col-10074 => RG_Orders (v1)*/
/*rg-col-10061 => Notes:*/
.rg_employee_1 div.rg-property[name="rg-col-10061"] .rg-cru { height: 313px; width: 650px; }
