/*rg_orders_1 => RG_Orders (v1)*/
div.rg-details.rg_orders_1 { width: 713px; }
div.rg-details.rg_orders_1 div.ui-dialog-content div.rg-tabs { height: 537px; }
/*rg-col-10153 => CompanyName:*/
.rg_orders_1 div.rg-entity[name="rg-col-10153"] > div.rg-property[name="rg-col-10153"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10154 => RecroDictDemo:*/
.rg_orders_1 div.rg-property[name="rg-col-10154"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10146 => CustomerID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10146"] > div.rg-property[name="rg-col-10146"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10148 => EmployeeID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10148"] > div.rg-property[name="rg-col-10148"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10133 => Freight:*/
.rg_orders_1 div.rg-property[name="rg-col-10133"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10134 => OrderDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10134"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10130 => OrderID:*/
.rg_orders_1 div.rg-property[name="rg-col-10130"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10135 => RequiredDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10135"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10136 => ShipAddress:*/
.rg_orders_1 div.rg-property[name="rg-col-10136"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10137 => ShipCity:*/
.rg_orders_1 div.rg-property[name="rg-col-10137"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10138 => ShipCountry:*/
.rg_orders_1 div.rg-property[name="rg-col-10138"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10139 => ShipName:*/
.rg_orders_1 div.rg-property[name="rg-col-10139"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10140 => ShipPostalCode:*/
.rg_orders_1 div.rg-property[name="rg-col-10140"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10141 => ShipRegion:*/
.rg_orders_1 div.rg-property[name="rg-col-10141"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10143 => ShippedDate:*/
.rg_orders_1 div.rg-property[name="rg-col-10143"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10151 => ShipperID:*/
.rg_orders_1 div.rg-entity[name="rg-col-10151"] > div.rg-property[name="rg-col-10151"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10149 => Order_Details (v1)*/
