/*rg_product_1 => RG_Product (v1)*/
div.rg-details.rg_product_1 { width: 713px; }
div.rg-details.rg_product_1 div.ui-dialog-content div.rg-tabs { height: 355px; }
/*rg-col-10043 => Category:*/
.rg_product_1 div.rg-entity[name="rg-col-10043"] > div.rg-property[name="rg-col-10043"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10010 => Discontinued*/
.rg_product_1 div.rg-property[name="rg-col-10010"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10008 => ProductID:*/
.rg_product_1 div.rg-property[name="rg-col-10008"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10011 => ProductName:*/
.rg_product_1 div.rg-property[name="rg-col-10011"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10012 => QuantityPerUnit:*/
.rg_product_1 div.rg-property[name="rg-col-10012"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10013 => ReorderLevel:*/
.rg_product_1 div.rg-property[name="rg-col-10013"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10023 => SupplierID:*/
.rg_product_1 div.rg-entity[name="rg-col-10023"] > div.rg-property[name="rg-col-10023"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10015 => UnitPrice:*/
.rg_product_1 div.rg-property[name="rg-col-10015"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10016 => UnitsInStock:*/
.rg_product_1 div.rg-property[name="rg-col-10016"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10017 => UnitsOnOrder:*/
.rg_product_1 div.rg-property[name="rg-col-10017"] .rg-label { text-align: center; min-width: 150px; }
/*rg-col-10021 => Order_Details (v1)*/
